.dialogs {
    display: grid;
    grid-template-columns: 2fr 7fr;
}


.dialog {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.active {
    color: gold;
}

.messages {

}

.message {
    padding: 10px;
}